section.film-list {
  display: flex;
  flex-direction: column;
  border-bottom: thin rgb(40, 87, 117) solid;
}

header {
  border-bottom: thin rgb(40, 87, 117) solid;
}

h2 {
  color: rgb(29, 79, 107);
}
